<style>
    .student-id{
        color: grey;
        font-size: 70%;
    }
    .messages-display{
        color: #888;
    }
</style>
<div class="topan-section-shadow">
    <h2><%= student.name %><span class="student-id">&nbsp;&nbsp;(学号：<%= student.id %>)</span></h2>
    <p class="messages-display">
        <strong>Count:</strong> <i class="fa fa-solid fa-fire"></i> <%= student.count %>
    </p>
</div>
<br>
<h3>Test Records</h3>
<table>
    <tr>
        <th>考试</th>
        <th>排名</th>
        <th>标准分</th>
    </tr>
    <% data.detail.message.forEach((message,index)=>{
        if(message.type=="round-start"){ %>
        <tr>
            <td colspan="3" class="round-starter"><%- message.display %></td>
        </tr>
        <% }
        else{ %>
        <tr>
            <td><%= message.time %></td>
            <td><%- message.person %></td>
            <td><%- message.display %></td>
        </tr>
        <% }
    }) %>
</table>